<h1>Pages#dev</h1>

<%= link_to 'Transcode', transcodes_path %><br>
<%= link_to 'Media', media_path %><br>
<%= link_to 'Metadata', metadata_path %><br>
<%= link_to 'Settings', settings_path %><br>
<%= link_to 'Workflow', workflows_path %><br>
<%= link_to 'Overview', pages_overview_path %><br>
<%= link_to 'Resque', '/resque' , :target => '_blank'%><br>
